# API dependencies
fastapi
uvicorn
boto3
pillow
python-multipart
pydantic

# Streamlit dashboard
streamlit
pandas
requests

# pip install fastapi uvicorn boto3 pillow python-multipart pydantic streamlit pandas requests